[ alt = "Widok - Landscape" ]{
    margin-left: 150px
}

div ul{
    color: blue
}

div, ul{
    font-size: 15px;
}

div > div > ul {
    font-size: 20px;
}

div + ol {
    background-color: blue;
    font-style: italic;
    border-style: dotted;
    border-width: 5px;
}

body {
    background-image: url("../img/background.jpeg");
}